.cardstyleHover:hover{
  -webkit-box-shadow: 0 10px 16px -6px #777;
  -moz-box-shadow: 0 10px 16px -6px #777;
  box-shadow: 0 10px 16px -6px #777;
  cursor: pointer;
}

.my-modal {
    width: 90vw;
    max-width: 90vw;
} 