@import url('https://fonts.googleapis.com/css?family=Lato:100');
@import url('https://fonts.googleapis.com/css?family=Raleway+Dots');


.App-title {
  font-size: 3em;
/*  font-family: 'Lato', sans-serif;*/
font-family: 'Raleway Dots', cursive;

}


.Nav-bar{
	background-color: #DCDCDC;
}



.Burger-button, .Burger-button:hover, .Burger-button:active, .Burger-button:visited, .Burger-button:hover {
	text-decoration: none; 
	border: none;
}
